/* подключенные шрифты */
@font-face {
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

/*общие для всей страницы*/

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    width: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px; 
    color: #000000;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

/* хейдер */

.navigation {
    display: flex;
    width: 1200px;
    margin: 0 auto;
}

.navigation-list {
    width: 531px;
    margin: 0;
    padding: 0;
}

.navigation-link {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;     
    font-weight: 700;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.page-header-logo {
    display: block;
    margin: 0 auto;
    width: 138px;
}

.navigation-link-container {
    max-width: 531px;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

/*основное содержимое MAIN */

.main-container {
    flex-grow: 1;
}

.page-container {
    width: 1200px;
    margin: 0 auto;
}

/*первый экран*/

.greeting {
    background-image: url("../images/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.logo-welcome {
    display: block;
    margin: 0 auto;
}

.greeting-title {
    display: grid;
    margin: 0 auto;
}

.greeting-title-main {
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 36px;     
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    width: 720px;
    margin-top: 63px;
    margin-left: 240px;
    margin-right: 240px;
} 

.greeting-title-text {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 36px;     
    font-weight: 400;
    text-align: center;
    width: 720px;
    margin-left: 240px;
    margin-right: 240px;
}

/*Преимущества*/

.advantages {
    display: flex; 
    margin: 0;
    padding: 0;
}

.advantages-list {
    display: grid;
    
}

.advantages-item {
    width: 400px;
}

.advantages-title {
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    line-height: 28px;     
    font-weight: 700;
    background-color: hsl(204,48%,67%,0.2);
    text-align: center;
    text-transform: uppercase;
    width: 400px; 
}

.advantages-description {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;     
    font-weight: 400;
    background-color: hsl(204,48%,67%,0.2);
    text-align: center;
    text-transform: uppercase;
}

.advantages-white {
    background: #83B3D3;
    color: #FFFFFF;
}

.advantages-list-other {
    display: flex;  
    margin: 0;
    padding: 0;
}

/*поиск гостиниц*/
.search {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-title {
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 36px;     
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    width: 720px; 
    margin-left: 240px;
    margin-right: 240px;
}

.search-text {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;     
    font-weight: 400;
    text-align: center;
    width: 720px;
    margin-left: 240px;
    margin-right: 240px;
}

.button-search {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 36px;     
    font-weight: 700;
    background: #756257;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: 575px;
    margin-left: 240px;
    margin-right: 240px;
}

/*подписка на рассылку*/

.newletter {
    background-image: url("../images/background-newletter.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.newletter-title {
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 36px;     
    font-weight: 700;
    /* background: #83B3D3; */
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    width: 720px; 
    margin-left: 240px;
    margin-right: 240px;
}

.newletter-text {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;     
    font-weight: 400;
    /* background: #83B3D3; */
    color: #FFFFFF;
    text-align: center;
    width: 720px;
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 15px;
}

.newletter-email {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 26px;     
    font-weight: 400;
}

.newletter-button {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;     
    font-weight: 700;
    background: #83B3D3;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    width: 200px;
    margin-bottom: 93px;

}

/*footer*/

.page-footer {
margin: 0;
}

.page-footer-container {
    display: flex;
    width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
}

.footer-social-list {
    display: flex;

}

.footer-social-item {
    width: 20px;
    margin-right: 30px;
}

.footer-contacts-phone {
    font-family: "PT Sans", sans-serif;
    font-size: 40px;
    line-height: 40px;     
    font-weight: 400;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: 720px;
    margin-right: 53px;
    margin-top: 40px;
    margin-bottom: 30px;
}

.htmlacademy-link {
    width: 115px;
    margin-top: 42px;
    margin-bottom: 44px;
    margin-right: 72px;
}

/*каталог*/

.catalog-select {
    background: #83B3D3;
    color: #FFFFFF;
    background-image: url("../images/catalog-background-1.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.inner-header-title {
    font-family: "PT Sans", sans-serif;
    font-size: 60px;
    line-height: 78px;     
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
}

.breadcrumbs-link {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 21px;     
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none; 
}

.catalog-filter-title {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;     
    font-weight: 700;
    color: #FFFFFF;
}

.catalog-filter-item {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 24px;     
    font-weight: 400;
    color: #FFFFFF;
}

.button-submit {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 21px;     
    font-weight: 700;
    background: #83B3D3;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}

.button-discard {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 24px;     
    font-weight: 400;
    color: #FFFFFF;
    background: #83B3D3;
    text-align: center; 
}

.sorting-hotels {
    font-family: "PT Sans", sans-serif;
}

.sorting-hotels-title {
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 39px;     
    font-weight: 700;
}

.hotel-card-link {
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    line-height: 31px;     
    font-weight: 700;
    color: #000000;
    text-decoration: none;
}

.hotel-type-container {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 23px;     
    font-weight: 400;
}

.hotel-card-button {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 21px;     
    font-weight: 700;
    background: #756257;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.button-choose-favorites {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 21px;     
    font-weight: 700;
    background: #83B3D3;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.hotel-rating {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 21px;     
    font-weight: 400;
    background: #F2F2F2;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
}

.button-selected-favorites {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 21px;     
    font-weight: 700;
    background: #7DB54F;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;  
}

.pagination-show-more {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;     
    font-weight: 700;
    background: #83B3D3;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none; 
}

.pagination-link {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;     
    font-weight: 700;
    background: #83B3D3;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

.pagination-current {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;     
    font-weight: 700;
    background: #F2F2F2;
    text-align: center;
    text-decoration: none;
}

.quantity-hotels {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 23px;     
    font-weight: 400;
    background: #E5E5E5;
    color: #333333;
}

.catalog-newletter-title {
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 36px;     
    font-weight: 700;
    text-align: center;
}

.catalog-newletter-text{
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;     
    font-weight: 400;
    text-align: center;
}