/* подключенные шрифты */
@font-face {
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*общие для всей страницы*/

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 1200px;
    width: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px; 
    color: #000000;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

/* хейдер */

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding-left: 71px;
    padding-top: 20px;
    padding-bottom: 19px;
    list-style: none;
}
.navigation-item:not(:last-child) {
    margin-right: 33px;
    padding: 0;
}

.navigation-link {
    display: block;
    font-size: 20px;
    line-height: 26px;     
    font-weight: 700;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.page-header-logo {
    display: block;
    margin: 0 auto;
    width: 138px;
}

.navigation-link-container {
    display: flex;
    flex-wrap: wrap;
    max-width: 531px;
    margin: 0;
    padding-right: 71px;
    padding-top: 20px;
    padding-bottom: 19px;
    list-style: none;
}

.navigation-item-user:not(:last-child) {
    margin-right: 20px;
    padding: 0;
}

.button-want-here {
    display: block;
    font-size: 20px;
    line-height: 36px;     
    font-weight: 700;
    background: #756257;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    width: 160px;
}



/*основное содержимое MAIN */

.main-container {
    flex-grow: 1;
    width: 1200px;
    margin: 0 auto;
}

/*первый экран*/

.greeting {
    display: block;
    height: 485px;
    padding-left: 371px;
    padding-right: 371px;
    padding-top: 51px;
    padding-bottom: 82px;
    background-image: url("../images/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    
}

.logo-welcome {
    display: block;
    margin: 0 auto;
    width: 458px;
    height: 352px;
}

.greeting-title {
    margin: 0 auto;
    padding: 63px 240px 79px;
}

.greeting-title-main {
    font-size: 30px;
    line-height: 36px;     
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0;
    margin-bottom: 23px;
} 

.greeting-title-text {
    font-size: 22px;
    line-height: 36px;     
    font-weight: 400;
    text-align: center;
    margin: 0;
}

/*Преимущества*/

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.advantages-item-details {
    width: 100%;
}

.advantages-item-container {
    display: flex;
}

.advantages-item {
    display: block;
    width: 400px;    
    padding-top: 89px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 79px;
}

.blue {
    background: #83B3D3;
    color: #FFFFFF;
    display: block;
    width: 400px;
    padding-top: 98px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 77px;
}

.grey12 {
    background: rgba(131, 179, 211, 0.12);
    display: block;
    width: 400px;    
    padding-top: 89px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 79px;
}

.grey20 {
    background: rgba(131, 179, 211, 0.2);
    display: block;
    width: 400px;    
    padding-top: 91px;
    padding-left: 75px;
    padding-right: 75px;
    padding-bottom: 79px;
}

.advantages-title {
    font-size: 24px;
    line-height: 28px;     
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 25px; 
}

.advantages-description {
    font-size: 18px;
    line-height: 21px;     
    font-weight: 400;
    text-align: center;
    margin: 0;
    margin-bottom: 26px;
}

.advantages-photo img{
    display: block;
    width: 800px;
    height: 400px;
}

.advantages-list-other {
    display: flex;  
    margin: 0;
    padding: 0;
    list-style: none;
}

.advantages-photo-other {
    display: block;
    margin: 0 auto;
    margin-bottom: 23px;
}

/*поиск гостиниц*/
.search {
    align-items: center;
    padding: 91px 240px;
}

.search-title {
    font-size: 30px;
    line-height: 36px;     
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 35px;
}

.search-text {
    font-size: 22px;
    line-height: 26px;     
    font-weight: 400;
    text-align: center;
    margin: 0;
    margin-bottom: 35px;
}

.button-search {
    font-size: 20px;
    line-height: 36px;     
    font-weight: 700;
    background: #756257;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
}

/*подписка на рассылку*/

.newletter {
    align-items: center;
    text-align:center;
    padding: 94px 200px;
}

.newletter-background {
    background-image: url("../images/background-newletter.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat; 
}

.newletter-title {
    font-size: 30px;
    line-height: 36px;     
    font-weight: 700;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 35px;
}

.newletter-text {
    font-size: 22px;
    line-height: 26px;     
    font-weight: 400;
    margin: 0;
    margin-bottom: 35px;
}

.newletter-white {
    color: #FFFFFF;
}

.newletter-email {
    font-size: 18px;
    line-height: 26px;     
    font-weight: 400;
}

.newletter-button {
    font-size: 20px;
    line-height: 26px;     
    font-weight: 700;
    background: #83B3D3;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}

.button-search {
    display: block;
    max-width: 575px;
    margin: 0 auto;
}

/*footer*/

.page-footer {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
    padding-top: 42px;
    padding-left: 72px;
    padding-right: 72px;
    padding-bottom: 44px;
}

.footer-social-list {
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    padding: 0;
    list-style: none;
}

.footer-social-item:not(:first-child) {
    margin-right: auto;
    margin-left: 30px;
    width: 20px;
}

.footer-contacts-phone {
    font-size: 40px;
    line-height: 40px;     
    font-weight: 400;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    width: 720px;
    margin: 0;
    padding: 0;
}

.htmlacademy-link {
    width: 115px;
    margin-left: auto;
}

/*каталог*/
.main-inner {
    flex-grow: 1;
    width: 1200px;
    margin: 0 auto;
}

.catalog-select {
    background: #83B3D3;
    color: #FFFFFF;
    background-image: url("../images/catalog-background-1.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
    display: block;
    height: 408px;
    margin: 0;
    margin-bottom: 44px;
    padding-top: 35px;
    padding-left: 71px;
    padding-right: 71px;
    /* padding-bottom: 83px; */
}

.inner-header {
margin-bottom: 45px;
}

.inner-header-title {
    font-size: 60px;
    line-height: 78px;     
    font-weight: 700;
    color: #FFFFFF;
    margin: 0;
    margin-bottom: 5px;
}

.breadcrumbs {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.breadcrumbs-item {
    margin-right: 26px;
}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 21px;     
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none; 
}

/*фильтр*/

.catalog-filter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.catalog-filter-group {
    margin: 0;
    padding: 0;
    border: none;
}

.catalog-filter-title {
    font-size: 20px;
    line-height: 26px;     
    font-weight: 700;
    color: #FFFFFF;
    display: block;
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
}

.catalog-filter-list {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

.catalog-filter-item {
    font-size: 18px;
    line-height: 24px;     
    font-weight: 400;
    color: #FFFFFF;
    padding: 0;
    margin-bottom: 16px;
}

.catalog-filter-button {
    display: flex;
    flex-direction: column;
    justify-content: end;

}

.button-submit {
    font-size: 16px;
    line-height: 21px;     
    font-weight: 700;
    background: #83B3D3;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.button-discard {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 24px;     
    font-weight: 400;
    color: #FFFFFF;
    background: none;
    text-align: center; 
}

/*сортировка*/

.catalog-inner {
    padding: 0 72px;
}

.sorting-hotels {
    display: flex;
    margin: 0;
    margin-bottom: 42px;
    padding: 0;
    
}

.sorting-hotels-mode {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    padding: 0;    
}

/* .button-tile {
    display: block;
    margin: 0;
    margin-right: 8px;
    border: 2px solid #E6E6E6;      
} */

.sorting-hotels-title {
    font-size: 30px;
    line-height: 39px;     
    font-weight: 700;
    margin: 0;
    margin-right: 192px;
}

.select-control {
    padding: 0;
    margin-right: 81px;
}

/*каталог с картиками*/

.catalog-hotels {
    margin: 0;
    padding: 0;
    list-style: none;
}

.hotel-card {
    display: flex;
    margin-bottom: 58px;
}

.hotel-card-link {
    font-size: 24px;
    line-height: 31px;     
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    display: inline-block;
    margin: 0;
    margin-right: 37px;
}

.hotel-card-image {
    display: block;
    width: 180px;
    height: 120px;
}

.hotel-card-title {
    margin: 0;
    margin-bottom: 1px;
    padding: 0;
}

.hotel-type-container {
    font-size: 18px;
    line-height: 23px;     
    font-weight: 400;
}

.hotel-card-type {
    margin: 0;
    margin-bottom: 31px;
    padding: 0;
}

.hotel-card-price {
    margin: 0;
    padding: 0;  
}

.search-results-rating {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
}

.rating-star {
    display:  inline-block; 
    background-image: url(../images/star.svg);
    width: 18px;
    height: 18px;
}

.hotel-card-button {
    font-size: 16px;
    line-height: 21px;     
    font-weight: 700;
    background: #756257;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin: 0;
}

.button-choose-favorites {
    font-size: 16px;
    line-height: 21px;     
    font-weight: 700;
    background: #83B3D3;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.hotel-rating {
    font-size: 16px;
    line-height: 21px;     
    font-weight: 400;
    background: #F2F2F2;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.button-selected-favorites {
    font-size: 16px;
    line-height: 21px;     
    font-weight: 700;
    background: #7DB54F;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;  
}

/*пагинация*/

.pagination-quantity {
    display: flex;
    padding: 0;
}
.pagination {
    display: flex;
    margin: 0;
    margin-right: 301px;
    padding: 0;
    list-style: none;
}
.pagination-item {
    padding-right: 8px;
}

.pagination-show-more {
    font-size: 20px;
    line-height: 26px;     
    font-weight: 700;
    background: #83B3D3;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    width: 625px;
    margin: 61px auto;
}

.pagination-link {
    font-size: 20px;
    line-height: 26px;     
    font-weight: 700;
    background: #83B3D3;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    display: block;
    box-sizing: border-box;    
    width: 55px;
    height: 55px;
    padding: 14px 20px;
}

.pagination-current {
    font-size: 20px;
    line-height: 26px;     
    font-weight: 700;
    color: #000000;
    background: #F2F2F2;
    text-align: center;
    text-decoration: none;
}

.quantity-hotels {
    font-size: 18px;
    line-height: 23px;     
    font-weight: 400;
    color: #333333;
    margin-left: 0 auto;
}
