/* подключенные шрифты */
@font-face {
    font-family: "PT Sans";
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/ptsans-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "PT Sans";
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/ptsans-700.woff2") format("woff2");
    font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*общие для всей страницы*/

body {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    max-width: 1200px;
    width: 100%;
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px; 
    color: #000000;
}

.visually-hidden {
    border: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap;
}

/* хейдер */

.navigation {
    display: flex;
    margin: 0 auto;
}

.navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navigation-link {
    font-size: 20px;
    line-height: 26px;     
    font-weight: 700;
    text-align: center;
    color: #000000;
    text-decoration: none;
}

.page-header-logo {
    display: block;
    margin: 0 auto;
    width: 138px;
}

.navigation-link-container {
    max-width: 531px;
    margin: 0;
    padding: 0;
    margin-left: auto;
}

/*основное содержимое MAIN */

.main-container {
    flex-grow: 1;
    width: 1200px;
    margin: 0 auto;
}

/*первый экран*/

.greeting {
    background-image: url("../images/index-background.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.logo-welcome {
    display: block;
    margin: 0 auto;
}

.greeting-title {
    margin: 0 auto;
    padding: 63px 240px 79px;
}

.greeting-title-main {
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 36px;     
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
} 

.greeting-title-text {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 36px;     
    font-weight: 400;
    text-align: center;
}

/*Преимущества*/

.advantages-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    list-style: none;
}

.advantages-item-details {
    width: 100%;
}

.advantages-item-container {
    display: flex;
}

.advantages-item {
    width: 400px;
}

.blue {
    background: #83B3D3;
    color: #FFFFFF;
}

.grey12 {
    background: rgba(131, 179, 211, 0.12);
}

.grey20 {
    background: rgba(131, 179, 211, 0.2);
}

.advantages-title {
    font-family: "PT Sans", sans-serif;
    font-size: 24px;
    line-height: 28px;     
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    width: 400px; 
}

.advantages-description {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 21px;     
    font-weight: 400;
    text-align: center;
}

.advantages-photo img{
    display: block;
    margin: 0;
    padding: 0;
}

.advantages-list-other {
    display: flex;  
    margin: 0;
    padding: 0;
    list-style: none;
}

.advantages-photo-other {
    display: block;
    margin: 0 auto;

}

/*поиск гостиниц*/
.search {
    align-items: center;
    padding: 91px 240px;
}

.search-title {
    font-family: "PT Sans", sans-serif;
    font-size: 30px;
    line-height: 36px;     
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
}

.search-text {
    font-family: "PT Sans", sans-serif;
    font-size: 22px;
    line-height: 26px;     
    font-weight: 400;
    text-align: center;
}

.button-search {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 36px;     
    font-weight: 700;
    background: #756257;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

/*подписка на рассылку*/

.newletter {
    align-items: center;
    text-align:center;
    padding: 94px 200px;
}

.newletter-background {
    background-image: url("../images/background-newletter.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat; 
}

.newletter-title {
    font-size: 30px;
    line-height: 36px;     
    font-weight: 700;
    text-transform: uppercase;
}

.newletter-text {
    font-size: 22px;
    line-height: 26px;     
    font-weight: 400;
}

.newletter-white {
    color: #FFFFFF;
}

.newletter-email {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 26px;     
    font-weight: 400;
}

.newletter-button {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;     
    font-weight: 700;
    background: #83B3D3;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}

.button-search {
    display: block;
    max-width: 575px;
    margin: 0 auto;
}

/*footer*/

.page-footer {
    display: flex;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

.footer-social-list {
    display: flex;
    margin-right: auto;
    list-style: none;
}

.footer-social-item {
    width: 20px;
    margin-right: auto;
}

.footer-contacts-phone {
    font-family: "PT Sans", sans-serif;
    font-size: 40px;
    line-height: 40px;     
    font-weight: 400;
    color: #000000;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.htmlacademy-link {
    width: 115px;
    margin-left: auto;
}

/*каталог*/
.page-catalog {
    padding: 0 40px;
}

.catalog-select {
    background: #83B3D3;
    color: #FFFFFF;
    background-image: url("../images/catalog-background-1.jpg");
    background-size: 100% auto;
    background-repeat: no-repeat;
}

.inner-header-title {
    font-family: "PT Sans", sans-serif;
    font-size: 60px;
    line-height: 78px;     
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
}

.breadcrumbs {
    display: flex;
    list-style: none;
}

.breadcrumbs-link {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 21px;     
    font-weight: 400;
    color: #FFFFFF;
    text-decoration: none; 
}

.catalog-filter {
    display: flex;
    flex-wrap: wrap;
}

.catalog-filter-title {
    font-family: "PT Sans", sans-serif;
    font-size: 20px;
    line-height: 26px;     
    font-weight: 700;
    color: #FFFFFF;
}

.catalog-filter-list {
    list-style: none;
}

.catalog-filter-item {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 24px;     
    font-weight: 400;
    color: #FFFFFF;
}

.button-submit {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 21px;     
    font-weight: 700;
    background: #83B3D3;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
}

.button-discard {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 24px;     
    font-weight: 400;
    color: #FFFFFF;
    background: #83B3D3;
    text-align: center; 
}

.sorting-hotels {
    display: flex;
}

.sorting-hotels-mode {
    margin-left: auto;
}

.sorting-hotels-title {
    font-size: 30px;
    line-height: 39px;     
    font-weight: 700;
}

.catalog-hotels {
    margin: 0;
    padding: 0;
    list-style: none;
}

.hotel-card {
    display: flex;
}

.hotel-card-link {
    font-size: 24px;
    line-height: 31px;     
    font-weight: 700;
    color: #000000;
    text-decoration: none;
    display: inline-block;
}

.hotel-type-container {
    font-family: "PT Sans", sans-serif;
    font-size: 18px;
    line-height: 23px;     
    font-weight: 400;
}

.search-results-rating {
    margin-left: auto;
}

.rating-star{
    display:  inline-block; 
    background-image: url(../images/star.svg);
    width: 18px;
    height: 18px;
}

.hotel-card-button {
    font-size: 16px;
    line-height: 21px;     
    font-weight: 700;
    background: #756257;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
}

.button-choose-favorites {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 21px;     
    font-weight: 700;
    background: #83B3D3;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}

.hotel-rating {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 21px;     
    font-weight: 400;
    background: #F2F2F2;
    color: #333333;
    text-align: center;
    text-transform: uppercase;
}

.button-selected-favorites {
    font-family: "PT Sans", sans-serif;
    font-size: 16px;
    line-height: 21px;     
    font-weight: 700;
    background: #7DB54F;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;  
}

.pagination-quantity {
    display: flex;
}
.pagination {
    display: flex;
    padding: 0;
    list-style: none;
}

.pagination-show-more {
    font-size: 20px;
    line-height: 26px;     
    font-weight: 700;
    background: #83B3D3;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
    width: 625px;
    margin: 61px auto;
}

.pagination-link {
    font-size: 20px;
    line-height: 26px;     
    font-weight: 700;
    background: #83B3D3;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
}

.pagination-current {
    font-size: 20px;
    line-height: 26px;     
    font-weight: 700;
    color: #000000;
    background: #F2F2F2;
    text-align: center;
    text-decoration: none;
}

.quantity-hotels {
    font-size: 18px;
    line-height: 23px;     
    font-weight: 400;
    color: #333333;
    margin-left: auto;
}
